.jumbotron{
	background-color: black;
	color: white;
}


 footer{
	padding: 10px 10px 0 10px;
	background-color: black;
	color: white;
	margin-bottom: 10px;
	margin-top: 10px
}

.card-hotel{
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	margin-top: 10px;
	margin-right: 10px;
}

.btn-reserva{
	width: 100%;
}